body{
    background-color: #F6F8FA;
}

.dashboard {
    margin: 40px 0px;
}
.progress-bar{
    height: 10em;
}
.progress {
    line-height: 10em;
  }
.btn{
    background-color: #4834d4;
    color: "#8b8ba7";
    marginTop: "0.6em";
    fontSize: "1.3em";
    lineHeight: "1.3em";
    fontWeight: "700";
}
.btn-primary{
    border-color: dbdbe7;

}
.row{
    margin-top: 1em;
}